{% extends 'UI/base.html' %}
{% load static %}

{% block content %}
  <div class="banner-inner-page">
    <div class="base-container w-container">
      <div class="heading-wrapper-aligh-bottom">
        <div class="heading-inner-wrapper">
          <h1>Company Overview</h1>
        </div>
        <div class="paragraph-banner-inner-wrapper">
          <p class="paragraph-large text-white">We excel in delivering innovative architectural solutions that blend aesthetics and functionality. Our team of experts ensures every project meets the highest standards</p>
        </div>
      </div>
    </div>
  </div>
  <section class="section-image-inner about-us-image"></section>
  <section class="section without-bottom-spacing">
    <div class="w-layout-blockcontainer base-container w-container">
      <div class="numbers-section">
        <div data-w-id="220f7591-ae66-655c-7dcc-26662f1aeeb3" style="opacity:0" class="number-wrap">
          <p class="nuber">8</p>
          <p>Years</p>
        </div>
        <div data-w-id="220f7591-ae66-655c-7dcc-26662f1aeeb8" style="opacity:0" class="number-wrap">
          <p class="nuber">22</p>
          <p>Members</p>
        </div>
        <div data-w-id="220f7591-ae66-655c-7dcc-26662f1aeebd" style="opacity:0" class="number-wrap">
          <p class="nuber">72</p>
          <p>Projects</p>
        </div>
        <div data-w-id="220f7591-ae66-655c-7dcc-26662f1aeec2" style="opacity:0" class="number-wrap">
          <p class="nuber">44</p>
          <p>Awards</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="w-layout-blockcontainer base-container w-container">
      <div class="text-content-wrap-home-3">
        <div data-w-id="816a7673-f9ee-97d2-b719-1b365c29d416" class="capabilities-wrap-home-3">
          <div class="image-capabilities-wrapper"><img src="{% static 'images/Services-1_1Services-1.webp' %}" loading="lazy" alt="Image" class="image-height"></div>
          <div class="text-content-capabilities">
            <h6>Design Approach</h6>
            <p>We work closely with our clients to gain a understanding of their desires, both philosophical and practical.</p>
          </div>
        </div>
        <div data-w-id="816a7673-f9ee-97d2-b719-1b365c29d41e" class="capabilities-wrap-home-3">
          <div class="image-capabilities-wrapper"><img src="{% static 'images/Services-2_1Services-2.webp' %}" loading="lazy" alt="Image" class="image-height"></div>
          <div class="text-content-capabilities">
            <h6>Innovative Solutions</h6>
            <p>We integrate the latest technologies and creative techniques to develop innovative solutions for your unique needs.</p>
          </div>
        </div>
        <div data-w-id="816a7673-f9ee-97d2-b719-1b365c29d426" class="capabilities-wrap-home-3">
          <div class="image-capabilities-wrapper"><img src="{% static 'images/Services-3_1Services-3.webp' %}" loading="lazy" alt="Image" class="image-height"></div>
          <div class="text-content-capabilities">
            <h6>Project Management</h6>
            <p>Our team ensures each project is executed flawlessly from start to finish with the standards and keeping a keen eye on details.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section data-w-id="56e22fea-1280-ca6a-587a-3ae6d8a9ce6e" class="section small-paddings">
    <div class="w-layout-blockcontainer base-container w-container">
      <div class="services-wrapper-about-us">
        <div data-w-id="89da2ede-ce91-52b1-d5cd-bda9d5551771" style="opacity:0" class="image-services _1"><img src="{% static 'images/Image-Service_1Image-Service.webp' %}" loading="lazy" alt="Image" class="image-height"></div>
        <div class="content-services">
          <div class="text-wrapper">
            <h2 data-w-id="7cc8fa58-05ab-deac-8cdc-3dbc0f984ea2" style="opacity:0" class="title-services">From Conceptual Design to Seamless Project</h2>
            <p data-w-id="f05926d5-ea5a-0022-896a-b2dec808651e" style="opacity:0" class="paragraph-services">We offer a comprehensive range of architectural services tailored to meet your unique needs. Our expertise spans from initial concept design to final project completion</p>
          </div>
          <a data-w-id="64e9ad35-bdca-cafc-4bb6-269b5def59ae" style="opacity:0" href="services.html" class="secondary-button w-button">See All Services</a>
        </div>
        <div data-w-id="62c1412d-4d26-e481-e811-3458ce91482c" style="opacity:0" class="image-services _2"><img src="{% static 'images/Image_1Image.webp' %}" loading="lazy" alt="Image" class="image-12"></div>
      </div>
    </div>
  </section>
  <div class="section light-background">
    <div class="base-container w-container">
      <h2 data-w-id="d4f5eacc-e7d0-5c27-12e9-628b5dd24e37" class="testimonials-title">Testimonials</h2>
      <div data-delay="400" data-animation="slide" class="testimonials-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="5" data-duration="500" data-infinite="true">
        <div class="testimonials-slider-mask-wrapper w-slider-mask">
          <div class="slide-1 w-slide">
            <div class="testimonials-slide-item">
              <p data-w-id="d4f5eacc-e7d0-5c27-12e9-628b5dd24e3d" class="paragraph-large quote">&quot;Working with this architectural agency was a game-changer for our commercial projects. Their innovative designs and attention to detail exceeded our expectations, delivering a final product that perfectly aligned with our brand and vision&quot;</p>
              <div data-w-id="d4f5eacc-e7d0-5c27-12e9-628b5dd24e3f" class="testimonials-slider-profile-wraper"><img src="{% static 'images/Member-Photo-15_1Member-Photo-15.webp' %}" loading="lazy" alt="photo" class="testimonials-slider-image">
                <div class="testimonials-author-wrapper">
                  <h6 class="testimonials-name">Ronald Richards</h6>
                  <p>CEO, Anderson Real Estate</p>
                </div>
              </div>
            </div>
          </div>
          <div class="slide-2 w-slide">
            <div class="testimonials-slide-item">
              <p class="paragraph-large quote">&quot;The renovation of our home was seamless, thanks to the team’s expertise and commitment to quality. They truly listened to our needs and transformed our outdated space into a modern, functional, and beautiful home.&quot;</p>
              <div class="testimonials-slider-profile-wraper"><img src="{% static 'images/Member-Photo-9_1Member-Photo-9.webp' %}" loading="lazy" alt="photo" class="testimonials-slider-image">
                <div class="testimonials-author-wrapper">
                  <h6 class="testimonials-name">Sarah Bennett</h6>
                  <p class="paragraph-without-margin">Homeowner</p>
                </div>
              </div>
            </div>
          </div>
          <div class="slide-3 w-slide">
            <div class="testimonials-slide-item">
              <p class="paragraph-large quote">&quot;Their ability to blend sustainable practices with cutting-edge design is unparalleled. We were thrilled with the results and impressed by their dedication to creating environmentally-friendly and aesthetically pleasing spaces.&quot;</p>
              <div class="testimonials-slider-profile-wraper"><img src="{% static 'images/Member-Photo-14_1Member-Photo-14.webp' %}" loading="lazy" alt="photo" class="testimonials-slider-image">
                <div class="testimonials-author-wrapper">
                  <h6 class="testimonials-name">David Foster</h6>
                  <p class="paragraph-without-margin">Director of Operations</p>
                </div>
              </div>
            </div>
          </div>
          <div class="slide-4 w-slide">
            <div class="testimonials-slide-item">
              <p class="paragraph-large quote">&quot;Collaborating with this agency was an absolute pleasure. Their creative approach and professionalism made the process smooth, and the final designs were nothing short of stunning. Our clients were delighted with the results.&quot;</p>
              <div class="testimonials-slider-profile-wraper"><img src="{% static 'images/Member-Photo-13_1Member-Photo-13.webp' %}" loading="lazy" alt="photo" class="testimonials-slider-image">
                <div class="testimonials-author-wrapper">
                  <h6 class="testimonials-name">James Miller</h6>
                  <p class="paragraph-without-margin">Property Developer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="slide-5 w-slide">
            <div class="testimonials-slide-item">
              <p class="paragraph-large quote">&quot;This team brought a fresh perspective to our urban development projects. Their innovative designs and thorough project management ensured that everything was completed on time and within budget.&quot;</p>
              <div class="testimonials-slider-profile-wraper"><img src="{% static 'images/Member-Photo-10_1Member-Photo-10.webp' %}" loading="lazy" alt="photo" class="testimonials-slider-image">
                <div class="testimonials-author-wrapper">
                  <h6 class="testimonials-name">Emily Carter</h6>
                  <p class="paragraph-without-margin">Interior Designer</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonials-slider-left-arrow w-slider-arrow-left"></div>
        <div class="testimonials-slider-right-arrow w-slider-arrow-right"></div>
      </div>
    </div>
  </div>
  <!-- <section class="section background-black">
    <div class="w-layout-blockcontainer base-container w-container">
      <div id="w-node-d8a6d2e2-6b57-e94d-e6f4-79aa54899f77-e89f661a" class="title-wrapper-copy">
        <h2 data-w-id="d8a6d2e2-6b57-e94d-e6f4-79aa54899f78" style="opacity:0" class="projects-title-about-us">latest projects</h2>
        <a data-w-id="d8a6d2e2-6b57-e94d-e6f4-79aa54899f7a" style="opacity:0" href="projects-3.html" class="secondary-button hide-mob w-button">View all</a>
      </div>
      <div class="projects-wrapper-about-us-copy">
        <div id="w-node-d8a6d2e2-6b57-e94d-e6f4-79aa54899f7d-e89f661a" class="collection-project-list-wrapper-about-us-copy w-dyn-list">
          <div role="list" class="collection-project-list-about-us w-dyn-items">
            <div role="listitem" class="collection-project-item-about-us w-dyn-item">
              <a data-w-id="d8a6d2e2-6b57-e94d-e6f4-79aa54899f80" style="opacity:0" href="#" class="link-project w-inline-block"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="image-project w-dyn-bind-empty">
                <div class="details-wrapper-home-2">
                  <div class="custom-cursor-home-2">
                    <div class="cursor-text">View</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="empty-state w-dyn-empty">
            <div>No items found.</div>
          </div>
        </div>
        <div id="w-node-d8a6d2e2-6b57-e94d-e6f4-79aa54899f89-e89f661a" class="collection-project-list-wrapper-about-us-copy w-dyn-list">
          <div role="list" class="collection-project-list-about-us w-dyn-items">
            <div role="listitem" class="collection-project-item-about-us w-dyn-item">
              <a data-w-id="d8a6d2e2-6b57-e94d-e6f4-79aa54899f8c" style="opacity:0" href="#" class="link-project w-inline-block"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="image-project w-dyn-bind-empty">
                <div class="details-wrapper-home-2">
                  <div class="custom-cursor-home-2">
                    <div class="cursor-text">View</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="empty-state w-dyn-empty">
            <div>No items found.</div>
          </div>
        </div>
        <div id="w-node-d8a6d2e2-6b57-e94d-e6f4-79aa54899f95-e89f661a" class="collection-project-list-wrapper-about-us-copy w-dyn-list">
          <div role="list" class="collection-project-list-about-us w-dyn-items">
            <div role="listitem" class="collection-project-item-about-us w-dyn-item">
              <a data-w-id="d8a6d2e2-6b57-e94d-e6f4-79aa54899f98" style="opacity:0" href="#" class="link-project w-inline-block"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="image-project w-dyn-bind-empty">
                <div class="details-wrapper-home-2">
                  <div class="custom-cursor-home-2">
                    <div class="cursor-text">View</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="empty-state w-dyn-empty">
            <div>No items found.</div>
          </div>
        </div>
        <div id="w-node-_0054222e-5cc9-c01f-4ff2-dbcd83fbdd19-e89f661a" class="collection-project-list-wrapper-about-us-copy w-dyn-list">
          <div role="list" class="collection-project-list-about-us w-dyn-items">
            <div role="listitem" class="collection-project-item-about-us w-dyn-item">
              <a data-w-id="0054222e-5cc9-c01f-4ff2-dbcd83fbdd1c" style="opacity:0" href="#" class="link-project w-inline-block"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="image-project w-dyn-bind-empty">
                <div class="details-wrapper-home-2">
                  <div class="custom-cursor-home-2">
                    <div class="cursor-text">View</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="empty-state w-dyn-empty">
            <div>No items found.</div>
          </div>
        </div>
        <div id="w-node-_7ccdf082-e2b7-fe89-6e11-24a781d70f1c-e89f661a" class="collection-project-list-wrapper-about-us-copy w-dyn-list">
          <div role="list" class="collection-project-list-about-us w-dyn-items">
            <div role="listitem" class="collection-project-item-about-us w-dyn-item">
              <a data-w-id="7ccdf082-e2b7-fe89-6e11-24a781d70f1f" style="opacity:0" href="#" class="link-project w-inline-block"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="image-project w-dyn-bind-empty">
                <div class="details-wrapper-home-2">
                  <div class="custom-cursor-home-2">
                    <div class="cursor-text">View</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="empty-state w-dyn-empty">
            <div>No items found.</div>
          </div>
        </div>
      </div>
      <div class="buttonteam-wrapper hide">
        <a href="projects-3.html" class="secondary-button w-button">View all</a>
      </div>
    </div>
  </section> -->
   <!-- team start -->
 <div class="section">
  <div class="base-container w-container">
    <div class="slider-team-wrapper">

      <div class="section-title-team-wrapper">
        <h2 class="section-team-title">Our Team</h2>
      </div>

      <div class="team-slider-wrapper w-slider"
           data-delay="4000"
           data-animation="slide"
           data-autoplay="false"
           data-duration="500">

           <div class="team-slider-mask w-slider-mask">

            <!-- SLIDE 1 -->
            <div class="w-slide">
              <div class="team-slide-item">
          
                <a href="#" class="team-link w-inline-block">
                  <div class="overlay">
                    <h3 class="team-name">John Carter</h3>
                    <p class="team-position">Lead Architect</p>
                  </div>
                  <img src="{% static 'images/team1.jpg' %}" alt="John Carter" class="image-height">
                </a>
          
                <a href="#" class="team-link w-inline-block">
                  <div class="overlay">
                    <h3 class="team-name">Emily Stone</h3>
                    <p class="team-position">Project Manager</p>
                  </div>
                  <img src="{% static 'images/team2.jpg' %}" alt="Emily Stone" class="image-height">
                </a>
          
                <a href="#" class="team-link w-inline-block">
                  <div class="overlay">
                    <h3 class="team-name">Michael Lee</h3>
                    <p class="team-position">Interior Designer</p>
                  </div>
                  <img src="{% static 'images/team3.jpg' %}" alt="Michael Lee" class="image-height">
                </a>
          
              </div>
            </div>
          
            <!-- SLIDE 2 -->
            <div class="w-slide">
              <div class="team-slide-item">
          
                <a href="#" class="team-link w-inline-block">
                  <div class="overlay">
                    <h3 class="team-name">Sophia Brown</h3>
                    <p class="team-position">Structural Engineer</p>
                  </div>
                  <img src="{% static 'images/team4.jpg' %}" alt="Sophia Brown" class="image-height">
                </a>
          
                <a href="#" class="team-link w-inline-block">
                  <div class="overlay">
                    <h3 class="team-name">David Wilson</h3>
                    <p class="team-position">Urban Planner</p>
                  </div>
                  <img src="{% static 'images/team5.jpg' %}" alt="David Wilson" class="image-height">
                </a>
          
                <a href="#" class="team-link w-inline-block">
                  <div class="overlay">
                    <h3 class="team-name">Olivia Martinez</h3>
                    <p class="team-position">Design Consultant</p>
                  </div>
                  <img src="{% static 'images/team6.jpg' %}" alt="Olivia Martinez" class="image-height">
                </a>
          
              </div>
            </div>
          
          </div>
        <!-- ARROWS -->
        <div class="team-slider-left-arrow w-slider-arrow-left">
          <div class="team-slider-arrow-icon"></div>
        </div>

        <div class="team-slider-right-arrow w-slider-arrow-right">
          <div class="team-slider-arrow-icon"></div>
        </div>

        <div class="hidden w-slider-nav w-round"></div>

      </div>

    </div>
  </div>
</div>
  <!-- team end -->
  <section class="section without-top-spacing">
    <div class="w-layout-blockcontainer base-container w-container">
      <h2 data-w-id="859836b3-e4c0-4891-e222-4d8e7b5187aa" style="opacity:0" class="faq-title">the most common questions</h2>
      <div class="accordion-wrapper">
        <div data-w-id="46e0ad3c-32ac-c9eb-1ce6-82171a0b6551" style="opacity:0" class="accordion-wrap">
          <div data-delay="0" data-hover="false" data-w-id="46e0ad3c-32ac-c9eb-1ce6-82171a0b6552" class="accordion-item top-item w-dropdown">
            <div class="accordion-toggle w-dropdown-toggle">
              <h6 style="color:rgb(0,0,0)" class="accordion-title">Can you work within my budget?</h6>
              <div style="color:rgb(0,0,0);-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(0deg) skew(0, 0);transform-style:preserve-3d" class="accordion-icon"></div>
            </div>
            <nav style="height:0px" class="accordion-list w-dropdown-list">
              <p class="accordion-list-content">We understand the importance of budget constraints, and we work closely with you to develop a plan that meets your financial requirements.</p>
            </nav>
          </div>
          <div data-delay="0" data-hover="false" data-w-id="46e0ad3c-32ac-c9eb-1ce6-82171a0b655b" class="accordion-item w-dropdown">
            <div class="accordion-toggle w-dropdown-toggle">
              <h6 style="color:rgb(0,0,0)" class="accordion-title">Do you handle new builds?</h6>
              <div style="color:rgb(0,0,0);-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(0deg) skew(0, 0);transform-style:preserve-3d" class="accordion-icon"></div>
            </div>
            <nav style="height:0px" class="accordion-list w-dropdown-list">
              <p class="accordion-list-content">Whether you’re starting from scratch or looking to transform an existing space, our team has the expertise to deliver outstanding results that align with your goals.</p>
            </nav>
          </div>
          <div data-delay="0" data-hover="false" data-w-id="46e0ad3c-32ac-c9eb-1ce6-82171a0b6564" class="accordion-item w-dropdown">
            <div class="accordion-toggle w-dropdown-toggle">
              <h6 style="color:rgb(0,0,0)" class="accordion-title">What sets your agency apart?</h6>
              <div style="color:rgb(0,0,0);-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(0deg) skew(0, 0);transform-style:preserve-3d" class="accordion-icon"></div>
            </div>
            <nav style="height:0px" class="accordion-list w-dropdown-list">
              <p class="accordion-list-content">Our agency stands out for its innovative approach, meticulous attention to detail, and unwavering commitment to client satisfaction.</p>
            </nav>
          </div>
        </div>
        <div data-w-id="46e0ad3c-32ac-c9eb-1ce6-82171a0b6576" style="opacity:0" class="accordion-wrap last-child">
          <div data-delay="0" data-hover="false" data-w-id="46e0ad3c-32ac-c9eb-1ce6-82171a0b6577" class="accordion-item top-item-mob w-dropdown">
            <div class="accordion-toggle w-dropdown-toggle">
              <h6 style="color:rgb(0,0,0)" class="accordion-title">How long does a typical project take?</h6>
              <div style="color:rgb(0,0,0);-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(0deg) skew(0, 0);transform-style:preserve-3d" class="accordion-icon"></div>
            </div>
            <nav style="height:0px" class="accordion-list w-dropdown-list">
              <p class="accordion-list-content">We work diligently to ensure that all phases of the project are completed on time, without sacrificing the quality and attention to detail that we’re known for.</p>
            </nav>
          </div>
          <div data-delay="0" data-hover="false" data-w-id="fb14f3df-e667-c785-3de7-d71d186eb743" class="accordion-item w-dropdown">
            <div class="accordion-toggle w-dropdown-toggle">
              <h6 style="color:rgb(0,0,0)" class="accordion-title">What services do you offer?</h6>
              <div style="color:rgb(0,0,0);-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(0deg) skew(0, 0);transform-style:preserve-3d" class="accordion-icon"></div>
            </div>
            <nav style="height:0px" class="accordion-list w-dropdown-list">
              <p class="accordion-list-content">We provide a comprehensive range of services, including architectural design, renovations, and project management for both residential and commercial spaces.</p>
            </nav>
          </div>
          <div data-delay="0" data-hover="false" data-w-id="46e0ad3c-32ac-c9eb-1ce6-82171a0b6589" class="accordion-item w-dropdown">
            <div class="accordion-toggle w-dropdown-toggle">
              <h6 style="color:rgb(0,0,0)" class="accordion-title">How do I get started?</h6>
              <div style="color:rgb(0,0,0);-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(0deg) skew(0, 0);transform-style:preserve-3d" class="accordion-icon"></div>
            </div>
            <nav style="height:0px" class="accordion-list w-dropdown-list">
              <p class="accordion-list-content">Simply reach out to us for an initial consultation, and we’ll walk you through the process, from understanding your vision to developing a tailored plan.</p>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section background-black">
    <div class="w-layout-blockcontainer base-container w-container">
      <div class="cta">
        <div class="intro-wrapper">
          <div class="intro-description">
            <h2 data-w-id="d01744c2-1a1e-7ad2-3642-b6f971e2deaf" class="intro-title">START A NEW PROJECT</h2>
            <p data-w-id="d01744c2-1a1e-7ad2-3642-b6f971e2deb1" class="intro-paragraph">We are ready with expertise, ideas, and advice. Contact us to start your project</p>
          </div>
          <a data-w-id="d01744c2-1a1e-7ad2-3642-b6f971e2deb3" href="{% url 'contact-us' %}" class="primary-button w-button">Start a Project</a>
        </div>
        <div class="images-grid-wrap-cta">
          <div id="w-node-d01744c2-1a1e-7ad2-3642-b6f971e2deb6-71e2deaa" data-w-id="d01744c2-1a1e-7ad2-3642-b6f971e2deb6" class="image-wrap-cta"><img src="{% static 'images/Banner-Home_1Banner-Home.webp' %}" loading="lazy" sizes="(max-width: 479px) 49vw, (max-width: 991px) 30vw, (max-width: 1279px) 31vw, 375px" srcset="images/Banner-Home_1Banner-Home.webp 500w, images/Banner-Home_1Banner-Home.webp 800w, images/Banner-Home_1Banner-Home.webp 1080w, images/Banner-Home_1Banner-Home.webp 1920w" alt="Image"></div>
          <div id="w-node-d01744c2-1a1e-7ad2-3642-b6f971e2deb8-71e2deaa" data-w-id="d01744c2-1a1e-7ad2-3642-b6f971e2deb8" class="image-wrap-cta"><img src="{% static 'images/imagcta-2_1imagcta-2.webp' %}" loading="lazy" sizes="(max-width: 479px) 33vw, (max-width: 1279px) 14vw, 175px" srcset="images/imagcta-2_1imagcta-2.webp 500w, images/imagcta-2_1imagcta-2.webp 640w" alt="Image"></div>
          <div id="w-node-d01744c2-1a1e-7ad2-3642-b6f971e2deba-71e2deaa" data-w-id="d01744c2-1a1e-7ad2-3642-b6f971e2deba" class="image-wrap-cta hide"><img src="{% static 'images/image-cta-1_1image-cta-1.webp' %}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 1279px) 14vw, 175px" srcset="images/image-cta-1_1image-cta-1.webp 500w, images/image-cta-1_1image-cta-1.webp 640w" alt="Image"></div>
          <div id="w-node-d01744c2-1a1e-7ad2-3642-b6f971e2debc-71e2deaa" data-w-id="d01744c2-1a1e-7ad2-3642-b6f971e2debc" class="image-wrap-cta"><img src="{% static 'images/image-cta-3_1image-cta-3.webp' %}" loading="lazy" sizes="(max-width: 479px) 49vw, (max-width: 991px) 30vw, (max-width: 1279px) 31vw, 375px" srcset="images/image-cta-3_1image-cta-3.webp 500w, images/image-cta-3_1image-cta-3.webp 800w, images/image-cta-3_1image-cta-3.webp 1080w, images/image-cta-3_1image-cta-3.webp 1600w, images/image-cta-3_1image-cta-3.webp 1920w" alt="Image"></div>
        </div>
      </div>
    </div>
  </section>
  <div class="footer">
{% endblock %}
