{% extends 'UI/base.html' %}
{% load static %}

{% block content %}
  <div class="banner-inner-page">
    <div class="base-container w-container">
      <div class="heading-contacts-wrapper">
        <div class="heading-wrapper-aligh-center">
          <h1 data-w-id="27d88825-9f01-8452-8f73-90cc4619ca19" style="opacity:0">Contact us</h1>
          <p data-w-id="27d88825-9f01-8452-8f73-90cc4619ca1b" style="opacity:0" class="paragraph-align-center">Whether you’re planning a small renovation or a large-scale development, our pricing is straightforward, ensuring you know exactly what to expect from start to finish</p>
        </div>
      </div>
    </div>
  </div>
  <section class="section without-bottom-spacing">
    <div class="w-layout-blockcontainer base-container w-container">
      <div class="title-pricing-wrapper">
        <h2 data-w-id="4ff299ec-872e-7a44-e97c-fe686577a62d" class="title-pricing">Services Included In Every Plan</h2>
        <p data-w-id="4ff299ec-872e-7a44-e97c-fe686577a62f" style="opacity:0" class="pricing-subtitle">We ensure clear and transparent pricing, offering a detailed proposal after carefully evaluating your project needs</p>
      </div>
      <div class="cards-contacts-wrapper">
        <div id="w-node-_4ff299ec-872e-7a44-e97c-fe686577a632-e89f65eb" data-w-id="4ff299ec-872e-7a44-e97c-fe686577a632" style="opacity:0" class="card-contacts">
          <div class="card-contact-text">
            <div class="number-card">01</div>
            <div class="card-text-wrapper">
              <h4 class="heading-card">Services</h4>
              <p class="paragraph-card">Tailored services designed to fit your specific needs</p>
            </div>
          </div>
          <div class="link-wrapper-contacts-card">
            <a href="services.html" class="link-with-icon">Learn more<span class="text-button-icon"></span></a>
          </div>
        </div>
        <div id="w-node-_4ff299ec-872e-7a44-e97c-fe686577a63a-e89f65eb" data-w-id="4ff299ec-872e-7a44-e97c-fe686577a63a" style="opacity:0" class="card-contacts">
          <div class="card-contact-text">
            <div class="number-card">02</div>
            <div class="card-text-wrapper">
              <h4 class="heading-card">Pricing</h4>
              <p class="paragraph-card">Clear, detailed pricing with no hidden surprises or fees</p>
            </div>
          </div>
          <div class="link-wrapper-contacts-card">
            <a href="pricing.html" class="link-with-icon">Learn more<span class="text-button-icon"></span></a>
          </div>
        </div>
        <div id="w-node-_4ff299ec-872e-7a44-e97c-fe686577a642-e89f65eb" data-w-id="4ff299ec-872e-7a44-e97c-fe686577a642" style="opacity:0" class="card-contacts card-mob">
          <div class="card-contact-text">
            <div class="number-card">03</div>
            <div class="card-text-wrapper">
              <h4 class="heading-card">Support</h4>
              <p class="paragraph-card">Reliable and consistent support throughout the project</p>
            </div>
          </div>
          <div class="link-wrapper-contacts-card">
            <a href="#Contact-Form" class="link-with-icon">Contact support<span class="text-button-icon"></span></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="Contact-Form" class="section">
    <div class="base-container w-container">
      <div class="contacts-wrapper">
        <div data-w-id="66e64b10-ddaf-41f1-e621-5af172c529ad" style="opacity:0" class="contacts-content-wrapper">
          <div class="text-content-contacts-wrapper">
            <div class="contacts-title-wrapper">
              <h2 class="contacts-title">Contact us today</h2>
            </div>
            <p>Our team is ready to discuss your vision and provide expert advice on how to make the most of your space. Reach out to us for a personalized consultation and let&#x27;s bring your ideas to life</p>
          </div>
          <div class="contacts-divider"></div>
          <div data-delay="4000" data-animation="slide" class="contacts-location-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
            <div class="w-slider-mask">
              <div class="w-slide">
                <div class="contacts-detail-wrapper">
                  <h6 class="address-heading">Bahrain</h6>
                  <div class="contact-wrapper">
                    <div class="contacts-detail">
                      <p class="contacts-icon"></p>
                      <a href="https://www.google.com/maps/place/27+Rue+de+Berri,+75008+Paris,+France/@48.8732743,2.3053734,17z/data=!3m1!4b1!4m6!3m5!1s0x47e66fc16ae85c25:0x67057c249d6356e1!8m2!3d48.8732743!4d2.3053734!16s%2Fg%2F11cshv1nm2?entry=ttu" class="contact-link">PO. Box 2749 Off 303, 3rd No.Flr.R, Manama</a>
                    </div>
                    <div class="contacts-detail">
                      <p class="contacts-icon"></p>
                      <a href="tel:+12124258617" class="contact-link">+1 212 425 8617</a>
                    </div>
                    <div class="contacts-detail">
                      <p class="contacts-icon"></p>
                      <a href="mailto:information@office.com" class="contact-link">info@steele.com</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-slide">
                <div class="contacts-detail-wrapper">
                  <h6 class="address-heading">Iceland</h6>
                  <div class="contact-wrapper">
                    <div class="contacts-detail">
                      <p class="contacts-icon"></p>
                      <a href="https://www.google.com/maps/place/27+Rue+de+Berri,+75008+Paris,+France/@48.8732743,2.3053734,17z/data=!3m1!4b1!4m6!3m5!1s0x47e66fc16ae85c25:0x67057c249d6356e1!8m2!3d48.8732743!4d2.3053734!16s%2Fg%2F11cshv1nm2?entry=ttu" class="contact-link">Skólastígur 24, Djúpivogur</a>
                    </div>
                    <div class="contacts-detail">
                      <p class="contacts-icon"></p>
                      <a href="tel:+12124258617" class="contact-link">+1 212 425 8617</a>
                    </div>
                    <div class="contacts-detail">
                      <p class="contacts-icon"></p>
                      <a href="mailto:information@office.com" class="contact-link">info@stelle.com</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-slide">
                <div class="contacts-detail-wrapper">
                  <h6 class="address-heading">Saudi Arabia</h6>
                  <div class="contact-wrapper">
                    <div class="contacts-detail">
                      <p class="contacts-icon"></p>
                      <a href="https://www.google.com/maps/place/27+Rue+de+Berri,+75008+Paris,+France/@48.8732743,2.3053734,17z/data=!3m1!4b1!4m6!3m5!1s0x47e66fc16ae85c25:0x67057c249d6356e1!8m2!3d48.8732743!4d2.3053734!16s%2Fg%2F11cshv1nm2?entry=ttu" class="contact-link">Imam Bukhari, Aziziyah Dist, Al Madinah Al Munawarah</a>
                    </div>
                    <div class="contacts-detail">
                      <p class="contacts-icon"></p>
                      <a href="tel:+12124258617" class="contact-link">+1 212 425 8617</a>
                    </div>
                    <div class="contacts-detail">
                      <p class="contacts-icon"></p>
                      <a href="mailto:information@office.com" class="contact-link">information@office.com</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-slide">
                <div class="contacts-detail-wrapper">
                  <h6 class="address-heading">Curaçao</h6>
                  <div class="contact-wrapper">
                    <div class="contacts-detail">
                      <p class="contacts-icon"></p>
                      <a href="https://www.google.com/maps/place/27+Rue+de+Berri,+75008+Paris,+France/@48.8732743,2.3053734,17z/data=!3m1!4b1!4m6!3m5!1s0x47e66fc16ae85c25:0x67057c249d6356e1!8m2!3d48.8732743!4d2.3053734!16s%2Fg%2F11cshv1nm2?entry=ttu" class="contact-link">Piscadera Bay z/n, Willemstad</a>
                    </div>
                    <div class="contacts-detail">
                      <p class="contacts-icon"></p>
                      <a href="tel:+12124258617" class="contact-link">+1 212 425 8617</a>
                    </div>
                    <div class="contacts-detail">
                      <p class="contacts-icon"></p>
                      <a href="mailto:information@office.com" class="contact-link">information@office.com</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="contacts-left-arrow w-slider-arrow-left">
              <div class="contacts-slider-arrow-icon"></div>
            </div>
            <div class="contacts-right-arrow w-slider-arrow-right">
              <div class="contacts-slider-arrow-icon"></div>
            </div>
            <div class="hidden w-slider-nav w-round"></div>
            <div class="contacts-arrows-divider"></div>
          </div>
        </div>
        <div data-w-id="92a8d9be-2b86-6361-2ecb-849b408b23c7" style="opacity:0" class="contacts-form-wrapper">
          <h3 class="contacts-form-title">Send us a message</h3>
          <div class="form-block-contacts w-form">
            <form id="email-form" name="email-form" data-name="Email Form" method="get" class="form-contacts" data-wf-page-id="698fb87304c94142e89f65eb" data-wf-element-id="ea41af14-8b87-8ae8-ae5d-f8373dc8aafa"><input class="contacts-input w-input" maxlength="256" name="name" data-name="Name" placeholder="Your name" type="text" id="name" required=""><input class="contacts-input w-input" maxlength="256" name="email" data-name="Email" placeholder="Your email" type="email" id="email" required=""><textarea placeholder="Your text" maxlength="5000" id="field" name="field" data-name="field" required="" class="contacts-textarea w-input"></textarea><input type="submit" data-wait="Please wait..." class="primary-button full-width-mobile w-button" value="Submit"></form>
            <div class="success-message align-left w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="error-message form-error w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section without-top-spacing">
    <div class="base-container w-container">
      <div data-w-id="543e2867-6a64-ecb0-a8d4-daa4dd8fef08" style="opacity:0" class="heading-services-wrapper-copy">
        <div class="partners-title-wrapper">
          <h2 data-w-id="543e2867-6a64-ecb0-a8d4-daa4dd8fef09" class="capitalize">Our partners</h2>
        </div>
        <a data-w-id="fc4c7c6b-b227-49db-e7ff-949580831d39" href="clients.html" class="secondary-button hide-mob w-button">View All</a>
      </div>
      <div class="text-services-wrapper-copy">
        <div data-w-id="575badc6-49c2-0769-6a7c-261b8564d1a9" style="opacity:0" class="w-layout-grid customers-grid-contacts">
          <div id="w-node-_575badc6-49c2-0769-6a7c-261b8564d1aa-e89f65eb" data-w-id="575badc6-49c2-0769-6a7c-261b8564d1aa" class="customer-wrapper-contacts"><img src="{% static 'images/63b7f08aa7e1510e1c72d448_Clients-5_163b7f08aa7e1510e1c72d448_Clients-5.webp' %}" loading="lazy" alt="logo" class="customer-image">
            <div class="customer-title">Warminster, PA<strong><br></strong></div>
          </div>
          <div id="w-node-_575badc6-49c2-0769-6a7c-261b8564d1b0-e89f65eb" class="customer-wrapper-contacts"><img src="{% static 'images/63b7f08aa7e1510f0b72d446_Clients-6_163b7f08aa7e1510f0b72d446_Clients-6.webp' %}" loading="lazy" alt="logo" class="customer-image">
            <div class="customer-title">Washington, MO</div>
          </div>
          <div id="w-node-_575badc6-49c2-0769-6a7c-261b8564d1b4-e89f65eb" class="customer-wrapper-contacts"><img src="{% static 'images/logo-05_1logo-05.webp' %}" loading="lazy" alt="logo" class="customer-image">
            <div class="customer-title">Iconic, MI</div>
          </div>
          <div id="w-node-_575badc6-49c2-0769-6a7c-261b8564d1b8-e89f65eb" class="customer-wrapper-contacts"><img src="{% static 'images/63b7f08aa7e151ba8f72d443_Clients-4_163b7f08aa7e151ba8f72d443_Clients-4.webp' %}" loading="lazy" alt="logo" class="customer-image">
            <div class="customer-title">21star, MI</div>
          </div>
          <div id="w-node-_575badc6-49c2-0769-6a7c-261b8564d1bc-e89f65eb" class="customer-wrapper-contacts"><img src="{% static 'images/62f64e1e53f5f6ea8af36e4d_Group-31_162f64e1e53f5f6ea8af36e4d_Group-31.webp' %}" loading="lazy" alt="logo" class="customer-image">
            <div class="customer-title">Jotted, MI</div>
          </div>
          <div id="w-node-_37fe33aa-5d1a-0a38-47ed-ccb0ccf93cd1-e89f65eb" class="customer-wrapper-contacts"><img src="{% static 'images/logo-01_1logo-01.webp' %}" loading="lazy" alt="logo" class="customer-image">
            <div class="customer-title">Fluid, MI</div>
          </div>
        </div>
        <a href="clients.html" class="secondary-button hide w-button">View all</a>
      </div>
    </div>
  </div>
  <div class="section light-background">
    <div class="base-container w-container">
      <h2 data-w-id="d4f5eacc-e7d0-5c27-12e9-628b5dd24e37" class="testimonials-title">Testimonials</h2>
      <div data-delay="400" data-animation="slide" class="testimonials-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="5" data-duration="500" data-infinite="true">
        <div class="testimonials-slider-mask-wrapper w-slider-mask">
          <div class="slide-1 w-slide">
            <div class="testimonials-slide-item">
              <p data-w-id="d4f5eacc-e7d0-5c27-12e9-628b5dd24e3d" class="paragraph-large quote">&quot;Working with this architectural agency was a game-changer for our commercial projects. Their innovative designs and attention to detail exceeded our expectations, delivering a final product that perfectly aligned with our brand and vision&quot;</p>
              <div data-w-id="d4f5eacc-e7d0-5c27-12e9-628b5dd24e3f" class="testimonials-slider-profile-wraper"><img src="{% static 'images/Member-Photo-15_1Member-Photo-15.webp' %}" loading="lazy" alt="photo" class="testimonials-slider-image">
                <div class="testimonials-author-wrapper">
                  <h6 class="testimonials-name">Ronald Richards</h6>
                  <p>CEO, Anderson Real Estate</p>
                </div>
              </div>
            </div>
          </div>
          <div class="slide-2 w-slide">
            <div class="testimonials-slide-item">
              <p class="paragraph-large quote">&quot;The renovation of our home was seamless, thanks to the team’s expertise and commitment to quality. They truly listened to our needs and transformed our outdated space into a modern, functional, and beautiful home.&quot;</p>
              <div class="testimonials-slider-profile-wraper"><img src="{% static 'images/Member-Photo-9_1Member-Photo-9.webp' %}" loading="lazy" alt="photo" class="testimonials-slider-image">
                <div class="testimonials-author-wrapper">
                  <h6 class="testimonials-name">Sarah Bennett</h6>
                  <p class="paragraph-without-margin">Homeowner</p>
                </div>
              </div>
            </div>
          </div>
          <div class="slide-3 w-slide">
            <div class="testimonials-slide-item">
              <p class="paragraph-large quote">&quot;Their ability to blend sustainable practices with cutting-edge design is unparalleled. We were thrilled with the results and impressed by their dedication to creating environmentally-friendly and aesthetically pleasing spaces.&quot;</p>
              <div class="testimonials-slider-profile-wraper"><img src="{% static 'images/Member-Photo-14_1Member-Photo-14.webp' %}" loading="lazy" alt="photo" class="testimonials-slider-image">
                <div class="testimonials-author-wrapper">
                  <h6 class="testimonials-name">David Foster</h6>
                  <p class="paragraph-without-margin">Director of Operations</p>
                </div>
              </div>
            </div>
          </div>
          <div class="slide-4 w-slide">
            <div class="testimonials-slide-item">
              <p class="paragraph-large quote">&quot;Collaborating with this agency was an absolute pleasure. Their creative approach and professionalism made the process smooth, and the final designs were nothing short of stunning. Our clients were delighted with the results.&quot;</p>
              <div class="testimonials-slider-profile-wraper"><img src="{% static 'images/Member-Photo-13_1Member-Photo-13.webp' %}" loading="lazy" alt="photo" class="testimonials-slider-image">
                <div class="testimonials-author-wrapper">
                  <h6 class="testimonials-name">James Miller</h6>
                  <p class="paragraph-without-margin">Property Developer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="slide-5 w-slide">
            <div class="testimonials-slide-item">
              <p class="paragraph-large quote">&quot;This team brought a fresh perspective to our urban development projects. Their innovative designs and thorough project management ensured that everything was completed on time and within budget.&quot;</p>
              <div class="testimonials-slider-profile-wraper"><img src="{% static 'images/Member-Photo-10_1Member-Photo-10.webp' %}" loading="lazy" alt="photo" class="testimonials-slider-image">
                <div class="testimonials-author-wrapper">
                  <h6 class="testimonials-name">Emily Carter</h6>
                  <p class="paragraph-without-margin">Interior Designer</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonials-slider-left-arrow w-slider-arrow-left"></div>
        <div class="testimonials-slider-right-arrow w-slider-arrow-right"></div>
      </div>
    </div>
  </div>
  <div class="footer">
{% endblock %}
